ADF_Pipeline/Ingestion/pipeline/G2 Dataverse to DatabricksTEST Run - Copy (7) - Copy.json
{
	"name": "G2 Dataverse to DatabricksTEST Run",
	"properties": {
		"activities": [
			{
				"name": "IsNewData",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "CommonDataServiceForAppsSource",
						"query": {
							"value": "@concat('<fetch><entity name=\"ww_run\"><all-attributes/><filter type=\"and\"><condition attribute=\"modifiedon\" operator=\"ge\" value=\"',pipeline().parameters.triggerStart,'\"/><condition attribute=\"modifiedon\" operator=\"le\" value=\"',pipeline().parameters.triggerEnd,'\"/></filter></entity></fetch>')",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "Run",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "IsNewData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(activity('IsNewData').output, 'firstRow')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Run copy",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "CommonDataServiceForAppsSource",
									"query": {
										"value": "@concat('<fetch><entity name=\"ww_run\"><all-attributes/><filter type=\"and\"><condition attribute=\"modifiedon\" operator=\"ge\" value=\"',pipeline().parameters.triggerStart,'\"/><condition attribute=\"modifiedon\" operator=\"le\" value=\"',pipeline().parameters.triggerEnd,'\"/></filter></entity></fetch>')",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Run",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ADLS_IOT_TEST_ww_run",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "bronze-silver-gold_copy",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Run copy",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Repos/databricks-sp-iot-test/adb-iot/ETL/azure-data-factory/dataverse-bronze-silver-gold",
								"baseParameters": {
									"END_TIMESTAMP": {
										"value": "@pipeline().parameters.triggerEnd",
										"type": "Expression"
									},
									"MODIFIEDON_COLUMN": {
										"value": "@pipeline().parameters.modifiedonColumn",
										"type": "Expression"
									},
									"PARTITION_COLUMN": {
										"value": "@pipeline().parameters.partitionColumn",
										"type": "Expression"
									},
									"TABLE_NAME": {
										"value": "@pipeline().parameters.tableName",
										"type": "Expression"
									},
									"SECONDARY_PARTITION": {
										"value": "@pipeline().parameters.partitionBySecondary",
										"type": "Expression"
									},
									"SECONDARY_PARTITION_NAME": {
										"value": "@pipeline().parameters.secondaryPartitionColumnName",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "adb_iot_test",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"triggerStart": {
				"type": "string"
			},
			"triggerEnd": {
				"type": "string"
			},
			"modifiedonColumn": {
				"type": "string",
				"defaultValue": "modifiedon"
			},
			"partitionColumn": {
				"type": "string",
				"defaultValue": "ww_runid"
			},
			"tableName": {
				"type": "string",
				"defaultValue": "ww_run"
			},
			"partitionBySecondary": {
				"type": "string",
				"defaultValue": "false"
			},
			"secondaryPartitionColumnName": {
				"type": "string",
				"defaultValue": "false"
			}
		},
		"annotations": []
	}
}