ADF_Pipeline/Ingestion/pipeline/G2 Dataverse to Databricks RunStartEndsTEST - Copy (6).json
{
	"name": "G2 Dataverse to Databricks RunStartEndsTEST",
	"properties": {
		"activities": [
			{
				"name": "IsNewData",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "CommonDataServiceForAppsSource",
						"query": {
							"value": "@concat('<fetch><entity name=\"crc5d_runstartend\"><all-attributes/><filter type=\"and\"><condition attribute=\"modifiedon\" operator=\"on-or-after\" value=\"',pipeline().parameters.triggerStart,'\"/><condition attribute=\"modifiedon\" operator=\"on-or-before\" value=\"',pipeline().parameters.triggerEnd,'\"/></filter></entity></fetch>')",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "RunStartEndsProd",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "IsNewData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(activity('IsNewData').output, 'firstRow')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Get RunStartEnds",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "CommonDataServiceForAppsSource",
									"query": {
										"value": "@concat('<fetch><entity name=\"crc5d_runstartend\"><all-attributes/><filter type=\"and\"><condition attribute=\"modifiedon\" operator=\"on-or-after\" value=\"',pipeline().parameters.triggerStart,'\"/><condition attribute=\"modifiedon\" operator=\"on-or-before\" value=\"',pipeline().parameters.triggerEnd,'\"/></filter></entity></fetch>')",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "crc5d_productionlineid",
												"type": "Int32"
											},
											"sink": {
												"name": "crc5d_productionlineid",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "owningbusinessunit",
												"type": "Guid"
											},
											"sink": {
												"name": "owningbusinessunit",
												"type": "Guid"
											}
										},
										{
											"source": {
												"name": "statecode",
												"type": "Int32"
											},
											"sink": {
												"name": "statecode",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "crc5d_runstartendid",
												"type": "Guid"
											},
											"sink": {
												"name": "crc5d_runstartendid",
												"type": "Guid"
											}
										},
										{
											"source": {
												"name": "createdby",
												"type": "Guid"
											},
											"sink": {
												"name": "createdby",
												"type": "Guid"
											}
										},
										{
											"source": {
												"name": "crc5d_uniqueid",
												"type": "String"
											},
											"sink": {
												"name": "crc5d_uniqueid",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "crc5d_enddatetime",
												"type": "DateTime"
											},
											"sink": {
												"name": "crc5d_enddatetime",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "timezoneruleversionnumber",
												"type": "Int32"
											},
											"sink": {
												"name": "timezoneruleversionnumber",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "ownerid",
												"type": "Guid"
											},
											"sink": {
												"name": "ownerid",
												"type": "Guid"
											}
										},
										{
											"source": {
												"name": "modifiedon",
												"type": "DateTime"
											},
											"sink": {
												"name": "modifiedon",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "modifiedby",
												"type": "Guid"
											},
											"sink": {
												"name": "modifiedby",
												"type": "Guid"
											}
										},
										{
											"source": {
												"name": "owninguser",
												"type": "Guid"
											},
											"sink": {
												"name": "owninguser",
												"type": "Guid"
											}
										},
										{
											"source": {
												"name": "crc5d_runstartend",
												"type": "String"
											},
											"sink": {
												"name": "crc5d_runstartend",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "createdon",
												"type": "DateTime"
											},
											"sink": {
												"name": "createdon",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "statuscode",
												"type": "Int32"
											},
											"sink": {
												"name": "statuscode",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "crc5d_startdatetime",
												"type": "DateTime"
											},
											"sink": {
												"name": "crc5d_startdatetime",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "crc5d_lastpallettime",
												"type": "DateTime"
											},
											"sink": {
												"name": "crc5d_lastpallettime",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "crc5d_lastpalletid",
												"type": "String"
											},
											"sink": {
												"name": "crc5d_lastpalletid",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "RunStartEndsProd",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ADLS_RunStartEndTEST",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "bronze-silver-gold",
							"type": "DatabricksNotebook",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "Get RunStartEnds",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Repos/databricks-sp-iot-test/adb-iot/ETL/azure-data-factory/dataverse-bronze-silver-gold",
								"baseParameters": {
									"END_TIMESTAMP": {
										"value": "@pipeline().parameters.triggerEnd",
										"type": "Expression"
									},
									"MODIFIEDON_COLUMN": {
										"value": "@pipeline().parameters.modifiedonColumn",
										"type": "Expression"
									},
									"PARTITION_COLUMN": {
										"value": "@pipeline().parameters.partitionColumn",
										"type": "Expression"
									},
									"TABLE_NAME": {
										"value": "@pipeline().parameters.tableName",
										"type": "Expression"
									},
									"SECONDARY_PARTITION": {
										"value": "@pipeline().parameters.partitionBySecondary",
										"type": "Expression"
									},
									"SECONDARY_PARTITION_NAME": {
										"value": "@pipeline().parameters.secondaryPartitionColumnName",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "adb_iot_test",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "run_durations_trigger",
							"type": "DatabricksNotebook",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "bronze-silver-gold",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Repos/databricks-sp-iot-test/adb-iot/BI/triggers/run_duration_trigger"
							},
							"linkedServiceName": {
								"referenceName": "adb_iot_test",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"triggerStart": {
				"type": "string"
			},
			"triggerEnd": {
				"type": "string"
			},
			"modifiedonColumn": {
				"type": "string",
				"defaultValue": "modifiedon"
			},
			"partitionColumn": {
				"type": "string",
				"defaultValue": "crc5d_runstartendid"
			},
			"tableName": {
				"type": "string",
				"defaultValue": "crc5d_runstartend"
			},
			"partitionBySecondary": {
				"type": "string",
				"defaultValue": "false"
			},
			"secondaryPartitionColumnName": {
				"type": "string",
				"defaultValue": "false"
			}
		},
		"annotations": []
	}
}