ADF_Pipeline/Ingestion/pipeline/ww_filleroperation - Copy (5).json
{
	"name": "ww_filleroperation",
	"properties": {
		"activities": [
			{
				"name": "Filler Operator",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Last modifiedon",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "CommonDataServiceForAppsSource",
						"query": {
							"value": "<fetch>\n  <entity name=\"ww_filleroperation\">\n    <all-attributes />\n    <filter>\n      <condition attribute=\"modifiedon\" operator=\"gt\" value=\"@{activity('Last modifiedon').output.firstRow.last_modifiedon}\" />\n    </filter>\n  </entity>\n</fetch>\n",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"ww_filleroperationid"
							]
						},
						"sqlWriterUseTableLock": true
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "crc5d_corkerheadspacepressure",
									"type": "String"
								},
								"sink": {
									"name": "crc5d_corkerheadspacepressure",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "crc5d_corkerplungersset",
									"type": "String"
								},
								"sink": {
									"name": "crc5d_corkerplungersset",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "crc5d_corkervacuumon",
									"type": "String"
								},
								"sink": {
									"name": "crc5d_corkervacuumon",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "crc5d_correctfilters",
									"type": "String"
								},
								"sink": {
									"name": "crc5d_correctfilters",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "crc5d_endofruncomments",
									"type": "String"
								},
								"sink": {
									"name": "crc5d_endofruncomments",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "crc5d_filtrationcharges",
									"type": "String"
								},
								"sink": {
									"name": "crc5d_filtrationcharges",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_filtrationtyperequired",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_Filtrationtyperequired",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "crc5d_glassbottlecheck",
									"type": "String"
								},
								"sink": {
									"name": "crc5d_glassbottlecheck",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "crc5d_inertgastofillerbowl",
									"type": "String"
								},
								"sink": {
									"name": "crc5d_inertgastofillerbowl",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "crc5d_inertgastorinser",
									"type": "String"
								},
								"sink": {
									"name": "crc5d_inertgastorinser",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "crc5d_inertgastotanker",
									"type": "String"
								},
								"sink": {
									"name": "crc5d_inertgastotanker",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_internalvisualcheckofrecoverytank",
									"type": "String"
								},
								"sink": {
									"name": "ww_internalvisualcheckofrecoverytank",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "crc5d_numberontagsfilters",
									"type": "String"
								},
								"sink": {
									"name": "crc5d_numberontagsfilters",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "crc5d_rinsermedium",
									"type": "Int32"
								},
								"sink": {
									"name": "crc5d_rinsermedium",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "crc5d_rinsermediumsig",
									"type": "String"
								},
								"sink": {
									"name": "crc5d_rinsermediumsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_rinserpressureccp2",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_RinserpressureCCP2",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_rinsertipsalcsprayed",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_Rinsertipsalcsprayed",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "crc5d_rockstoppertagnumberchecked",
									"type": "String"
								},
								"sink": {
									"name": "crc5d_rockstoppertagnumberchecked",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "crc5d_screwcapperchutechecked",
									"type": "String"
								},
								"sink": {
									"name": "crc5d_screwcapperchutechecked",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "createdon",
									"type": "DateTime"
								},
								"sink": {
									"name": "createdon",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "modifiedon",
									"type": "DateTime"
								},
								"sink": {
									"name": "modifiedon",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "statuscode",
									"type": "Int32"
								},
								"sink": {
									"name": "statuscode",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_sterilisationnotes",
									"type": "String"
								},
								"sink": {
									"name": "ww_sterilisationNotes",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_acramscreenl3checked",
									"type": "String"
								},
								"sink": {
									"name": "ww_acramscreenl3checked",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_airramscrewcapper",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_airramscrewcapper",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_airramscrewcappersig",
									"type": "String"
								},
								"sink": {
									"name": "ww_airramscrewcappersig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_alcoholbottle",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_alcoholbottle",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_alcoholinbottlesig",
									"type": "String"
								},
								"sink": {
									"name": "ww_alcoholinbottlesig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_alcoholintank",
									"type": "String"
								},
								"sink": {
									"name": "ww_alcoholintank",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_alcoholpercentage",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_alcoholpercentage",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "crc5d_alcoholspraycenteringbells",
									"type": "String"
								},
								"sink": {
									"name": "crc5d_Alcoholspraycenteringbells",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "crc5d_alcoholsprayrinserfingersandvalves",
									"type": "String"
								},
								"sink": {
									"name": "crc5d_Alcoholsprayrinserfingersandvalves",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_alcoholsterilisation",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_alcoholsterilisation",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_alcoholsterilisationsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_alcoholsterilisationsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_alcoholtank",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_alcoholtank",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_alcoholverification",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_alcoholverification",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_alcoholverificationdischargethebowl",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_alcoholverificationdischargethebowl",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_alcoholverificationrecheckvessel",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_alcoholverificationrecheckvessel",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_alcoholverificationtakeanotherroundoff",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_alcoholverificationtakeanotherroundoff",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_allfilterspresent",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_allfilterspresent",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_atpswabsnottakensig",
									"type": "String"
								},
								"sink": {
									"name": "ww_atpswabsnottakensig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_authoriseroperatorcode",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_authoriseroperatorcode",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_balancecheckcalibration",
									"type": "String"
								},
								"sink": {
									"name": "ww_balancecheckcalibration",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_balancecheckcalibrationcompleted",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_balancecheckcalibrationcompleted",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_bardifferential",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_bardifferential",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_beltlubecompletedsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_beltlubecompletedsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_blbottlecodeandguiderailsset",
									"type": "String"
								},
								"sink": {
									"name": "ww_blbottlecodeandguiderailsset",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_blbottlecoderrunningandlegible",
									"type": "String"
								},
								"sink": {
									"name": "ww_blbottlecoderrunningandlegible",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_bottlecounter",
									"type": "String"
								},
								"sink": {
									"name": "ww_BottleCounter",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_blcodeheight",
									"type": "String"
								},
								"sink": {
									"name": "ww_blcodeheight",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_blcountzeroed",
									"type": "String"
								},
								"sink": {
									"name": "ww_blcountzeroed",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_blsampleattachedtospecsheet",
									"type": "String"
								},
								"sink": {
									"name": "ww_blsampleattachedtospecsheet",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_bottlingfrom",
									"type": "Guid"
								},
								"sink": {
									"name": "ww_bottlingfrom",
									"type": "Guid"
								}
							},
							{
								"source": {
									"name": "ww_bottlingfromtextlookup",
									"type": "String"
								},
								"sink": {
									"name": "ww_bottlingfromtextlookup",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_bucketsflowedintime",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_bucketsflowedintime",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_camsensorchecked",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_Camsensorchecked",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_camsensorcomments",
									"type": "String"
								},
								"sink": {
									"name": "ww_Camsensorcomments",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_capdetectorset",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_Capdetectorset",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_ccp1allheadsactivating",
									"type": "String"
								},
								"sink": {
									"name": "ww_CCP1Allheadsactivating",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_ccbrand",
									"type": "String"
								},
								"sink": {
									"name": "ww_ccbrand",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_ccbrandsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_ccbrandsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_ccclosuretype",
									"type": "String"
								},
								"sink": {
									"name": "ww_ccclosuretype",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_ccclosuretypesig",
									"type": "String"
								},
								"sink": {
									"name": "ww_ccclosuretypesig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_cccolour",
									"type": "String"
								},
								"sink": {
									"name": "ww_cccolour",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_cccoloursig",
									"type": "String"
								},
								"sink": {
									"name": "ww_cccoloursig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_cccorkgradesize",
									"type": "String"
								},
								"sink": {
									"name": "ww_cccorkgradesize",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_cccorkgradesizesig",
									"type": "String"
								},
								"sink": {
									"name": "ww_cccorkgradesizesig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_ccilscode",
									"type": "String"
								},
								"sink": {
									"name": "ww_ccilscode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_ccilscodesig",
									"type": "String"
								},
								"sink": {
									"name": "ww_ccilscodesig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_ccp1completed",
									"type": "String"
								},
								"sink": {
									"name": "ww_ccp1completed",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_ccp1starttheruncheck",
									"type": "String"
								},
								"sink": {
									"name": "ww_ccp1starttheruncheck",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_ccp1starttherunchecktime",
									"type": "DateTime"
								},
								"sink": {
									"name": "ww_ccp1starttherunchecktime",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ww_ccp2completed",
									"type": "String"
								},
								"sink": {
									"name": "ww_ccp2completed",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_changesterilisationprocess",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_ChangeSterilisationProcess",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_checkallbleedvalvesareclosed",
									"type": "String"
								},
								"sink": {
									"name": "ww_CheckAllBleedValvesareClosed",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_ccplainprinted",
									"type": "String"
								},
								"sink": {
									"name": "ww_ccplainprinted",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_ccplainprintedsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_ccplainprintedsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_checksizeofcap",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_checksizeofcap",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_closurehopperempty",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_closurehopperempty",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_closurehopperemptysig",
									"type": "String"
								},
								"sink": {
									"name": "ww_closurehopperemptysig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_co2",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_co2",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_colour",
									"type": "String"
								},
								"sink": {
									"name": "ww_colour",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_colourcheckedsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_colourcheckedsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_contactpointsforglassfrag",
									"type": "String"
								},
								"sink": {
									"name": "ww_contactpointsforglassfrag",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_corkbaseclearofcorksforeignmatter",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_corkbaseclearofcorksforeignmatter",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_corkdepthaftermuselet",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_corkdepthaftermuselet",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_corkdetectoronsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_corkdetectoronsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_corkerbellscorrectsizesig",
									"type": "String"
								},
								"sink": {
									"name": "ww_corkerbellscorrectsizesig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_corkerheight",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_corkerheight",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_corkerlubrication",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_corkerlubrication",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_corkermainvalveopensig",
									"type": "String"
								},
								"sink": {
									"name": "ww_corkermainvalveopensig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_corkersmallvalveopensig",
									"type": "String"
								},
								"sink": {
									"name": "ww_corkersmallvalveopensig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_corkervacuumpumponsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_corkervacuumpumponsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "crc5d_correctbottlerecipeandtype",
									"type": "String"
								},
								"sink": {
									"name": "crc5d_Correctbottlerecipeandtype",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_correctcappingheads",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_correctcappingheads",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_corkinsertion",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_corkinsertion",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_corkplungedepth",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_corkplungedepth",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_correctchangepartssig",
									"type": "String"
								},
								"sink": {
									"name": "ww_correctchangepartssig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_correctdosingrateset",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_correctdosingrateset",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_correctfiltrationsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_correctfiltrationsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_correctluxcappingheadssig",
									"type": "String"
								},
								"sink": {
									"name": "ww_correctluxcappingheadssig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_correctvalvesopenclosedsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_correctvalvesopenclosedsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_correctwineisbottled",
									"type": "String"
								},
								"sink": {
									"name": "ww_correctwineisbottled",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_cunofiltertag",
									"type": "String"
								},
								"sink": {
									"name": "ww_cunofiltertag",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_cunopresent",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_cunopresent",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_cunotagnumberchecked",
									"type": "String"
								},
								"sink": {
									"name": "ww_cunotagnumberchecked",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_currentbom",
									"type": "String"
								},
								"sink": {
									"name": "ww_CurrentBOM",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_dateoflastintegritycheck",
									"type": "DateTime"
								},
								"sink": {
									"name": "ww_dateoflastintegritycheck",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ww_density",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_density",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_deoxnitrogenonsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_deoxnitrogenonsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_deoxvaccumonsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_deoxvaccumonsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_do",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_do",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_docketvessel",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_docketvessel",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_docketvesselsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_docketvesselsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_donotstartrununtilccp1iscomplete",
									"type": "String"
								},
								"sink": {
									"name": "ww_donotstartrununtilccp1iscomplete",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_donotstartrununtilccp1iscompletetime",
									"type": "DateTime"
								},
								"sink": {
									"name": "ww_donotstartrununtilccp1iscompletetime",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ww_eorbottlecount",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_eorbottlecount",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_eorbottlingto",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_eorbottlingto",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_eorchecktime",
									"type": "DateTime"
								},
								"sink": {
									"name": "ww_eorchecktime",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ww_eorfinalbottlecount",
									"type": "String"
								},
								"sink": {
									"name": "ww_eorfinalbottlecount",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_eorflowmetercheck",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_eorflowmetercheck",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_eorglassfragmentscheck",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_eorglassfragmentscheck",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_eorinbottle",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_eorinbottle",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_eorrinseheadinspection",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_eorrinseheadinspection",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_eorrinseheadmedium",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_eorrinseheadmedium",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_eorrinsergarsupplyccp1",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_EORRinserGarSupplyCCP1",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_eorrinsergaswatersupplyline1",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_eorrinsergaswatersupplyline1",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_eorrinsergaswatersupplyline2",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_eorrinsergaswatersupplyline2",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_eorrinserpressurefluctuations",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_eorrinserpressurefluctuations",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_fillerbowlpressure",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_fillerbowlpressure",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_fillerbowltemperature",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_fillerbowltemperature",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_fillercentringbellssealscheck",
									"type": "String"
								},
								"sink": {
									"name": "ww_fillercentringbellssealscheck",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_fillerfillstemssterile",
									"type": "String"
								},
								"sink": {
									"name": "ww_fillerfillstemssterile",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_filleroperation",
									"type": "String"
								},
								"sink": {
									"name": "ww_filleroperation",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_filleroperationid",
									"type": "Guid"
								},
								"sink": {
									"name": "ww_filleroperationid",
									"type": "Guid"
								}
							},
							{
								"source": {
									"name": "ww_fillervacuumon",
									"type": "String"
								},
								"sink": {
									"name": "ww_fillervacuumon",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_fillingheadbells",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_Fillingheadbells",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_fillheightdetectoronsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_fillheightdetectoronsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_fillheightdetectorset",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_Fillheightdetectorset",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_fillheights",
									"type": "String"
								},
								"sink": {
									"name": "ww_fillheights",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_filterintegrityafter2minutes",
									"type": "String"
								},
								"sink": {
									"name": "ww_filterintegrityafter2minutes",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_filtersbowlendtemp",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_FiltersBowlEndTemp",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_filtersbowlfinishtime",
									"type": "DateTime"
								},
								"sink": {
									"name": "ww_FiltersBowlFinishTime",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ww_filtersbowlstarttemp",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_FiltersBowlStartTemp",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_filtersbowlstarttime",
									"type": "DateTime"
								},
								"sink": {
									"name": "ww_FiltersBowlStartTime",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ww_finalfilterpresent",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_finalfilterpresent",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_finalfiltertag",
									"type": "String"
								},
								"sink": {
									"name": "ww_finalfiltertag",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_finalfiltertagnumberchecked",
									"type": "String"
								},
								"sink": {
									"name": "ww_finalfiltertagnumberchecked",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_flies",
									"type": "String"
								},
								"sink": {
									"name": "ww_flies",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_fliesinthefiller",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_fliesinthefiller",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_firstflush",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_FirstFlush",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_firstflushfilter",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_FirstFlushFilter",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_fliesinthefillerroom",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_fliesinthefillerroom",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_gasblowonbottle",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_gasblowonbottle",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_gasfloatyonsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_gasfloatyonsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_glassfrag",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_glassfrag",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_glassfragsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_glassfragsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_glasspumpcheck",
									"type": "String"
								},
								"sink": {
									"name": "ww_glasspumpcheck",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_heightstimingsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_heightstimingsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_highvacuumpumponsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_highvacuumpumponsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_hosecleangassedsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_hosecleangassedsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_inbottle",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_inbottle",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_inertgascorkerinletonsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_inertgascorkerinletonsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_inertgastorinseronsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_inertgastorinseronsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_isthemuseletsecure",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_isthemuseletsecure",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_isthemuseletuniform",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_isthemuseletuniform",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_isthetieupright",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_isthetieupright",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_isthisanorganicproduct",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_isthisanorganicproduct",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_jawlubechecked",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_jawlubechecked",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_jawlubecheckedsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_jawlubecheckedsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_kegsflushed",
									"type": "String"
								},
								"sink": {
									"name": "ww_KegsFlushed",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_kegsreturnedtotank",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_KegsReturnedToTank",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_kegstodrain",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_KegsToDrain",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_knifebladechecksig",
									"type": "String"
								},
								"sink": {
									"name": "ww_knifebladechecksig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_lenticularfilteroptions",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_LenticularFilterOptions",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_linecleared",
									"type": "String"
								},
								"sink": {
									"name": "ww_linecleared",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_litmuspapertestinproduct",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_litmuspapertestinproduct",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_lowvacuumpumponsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_lowvacuumpumponsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_luxheadstorqueing",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_luxheadstorqueing",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_manualjogbottle",
									"type": "String"
								},
								"sink": {
									"name": "ww_manualjogbottle",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_mfintegrityverificationsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_mfintegrityverificationsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_missingcapdetectoronsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_missingcapdetectoronsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_mlbowlfinishtime",
									"type": "DateTime"
								},
								"sink": {
									"name": "ww_mlbowlfinishtime",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ww_mlbowlstarttime",
									"type": "DateTime"
								},
								"sink": {
									"name": "ww_mlbowlstarttime",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ww_mlbowltemp",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_mlbowltemp",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_mlfillertipsfinishtime",
									"type": "DateTime"
								},
								"sink": {
									"name": "ww_mlfillertipsfinishtime",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ww_mlfillertipsstarttime",
									"type": "DateTime"
								},
								"sink": {
									"name": "ww_mlfillertipsstarttime",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ww_mlfillertipstemp",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_mlfillertipstemp",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_mlfiltersfinishtime",
									"type": "DateTime"
								},
								"sink": {
									"name": "ww_mlfiltersfinishtime",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ww_mlfiltersstarttime",
									"type": "DateTime"
								},
								"sink": {
									"name": "ww_mlfiltersstarttime",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ww_mlfilterstemp",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_mlfilterstemp",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_mlrinserfiltersfinishtime",
									"type": "DateTime"
								},
								"sink": {
									"name": "ww_mlrinserfiltersfinishtime",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ww_mlrinserfiltersstarttime",
									"type": "DateTime"
								},
								"sink": {
									"name": "ww_mlrinserfiltersstarttime",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ww_mlrinserfilterstemp",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_mlrinserfilterstemp",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_mlrinserfinishtime",
									"type": "DateTime"
								},
								"sink": {
									"name": "ww_mlrinserfinishtime",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ww_mlrinserstarttime",
									"type": "DateTime"
								},
								"sink": {
									"name": "ww_mlrinserstarttime",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ww_mlrinsertemp",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_mlrinsertemp",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_mlrollerslubed",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_MLRollersLubed",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_mlscrewcapperchutechecked",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_MLScrewcapperchutechecked",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_museletbaseclearofmuseletsfm",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_museletbaseclearofmuseletsfm",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_noticerequired",
									"type": "String"
								},
								"sink": {
									"name": "ww_noticerequired",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_numberontagssig",
									"type": "String"
								},
								"sink": {
									"name": "ww_numberontagssig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_operatorcode",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_operatorcode",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_organicgasthroughcomments",
									"type": "String"
								},
								"sink": {
									"name": "ww_OrganicGasThroughComments",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_organicproduct",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_organicproduct",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_plcelectrovalveonsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_plcelectrovalveonsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_plcfillerpumponsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_plcfillerpumponsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_plcrinseronsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_plcrinseronsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_prefilterfiltertag",
									"type": "String"
								},
								"sink": {
									"name": "ww_prefilterfiltertag",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_prefilterpresent",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_prefilterpresent",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_prefiltertagnumberchecked",
									"type": "String"
								},
								"sink": {
									"name": "ww_prefiltertagnumberchecked",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_printing",
									"type": "String"
								},
								"sink": {
									"name": "ww_printing",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_printingcheckedsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_printingcheckedsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_productcheckedandmatches",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_Productcheckedandmatches",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_productionline",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_productionline",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_productionrunstart",
									"type": "DateTime"
								},
								"sink": {
									"name": "ww_productionrunstart",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ww_recirculatewine",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_recirculatewine",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_productlinecheck",
									"type": "String"
								},
								"sink": {
									"name": "ww_productlinecheck",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_refract",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_refract",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_refractbottle",
									"type": "String"
								},
								"sink": {
									"name": "ww_refractbottle",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_refractbtl",
									"type": "String"
								},
								"sink": {
									"name": "ww_refractbtl",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_refracttank",
									"type": "String"
								},
								"sink": {
									"name": "ww_refracttank",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_refractverification",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_refractverification",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_refractverificationdischargethebowl",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_refractverificationdischargethebowl",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_refractverificationrecheckvessel",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_refractverificationrecheckvessel",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_refractverificationtakeanotherroundoff",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_refractverificationtakeanotherroundoff",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_retestalcoholverificationinspecification",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_retestalcoholverificationinspecification",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_retestrefractverificationinspecification",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_retestRefractverificationinspecification",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_retestvisualcolourmatch",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_retestvisualcolourmatch",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_retestvisualcolourmatchcomments",
									"type": "String"
								},
								"sink": {
									"name": "ww_retestvisualcolourmatchcomments",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_rinserbottlegrippersetsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_rinserbottlegrippersetsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_rinsergassupplyco2",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_rinsergassupplyco2",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_rinsergassupplyccp1",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_RinserGasSupplyCCP1",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_rinsergassupplypressure",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_RinserGasSupplyPressure",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_rinserintegritychecked",
									"type": "String"
								},
								"sink": {
									"name": "ww_rinserintegritychecked",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_rinserlowpressurecutoutsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_rinserlowpressurecutoutsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_rinserwateronsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_rinserwateronsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_rockstopperfilter",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_RockstopperFilter",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_rinserwatersupply",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_rinserwatersupply",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_rockstopperfiltertag",
									"type": "String"
								},
								"sink": {
									"name": "ww_rockstopperfiltertag",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_rockstopperpresent",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_rockstopperpresent",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_rockstopperpresentoptions",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_rockstopperpresentoptions",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_run",
									"type": "Guid"
								},
								"sink": {
									"name": "ww_run",
									"type": "Guid"
								}
							},
							{
								"source": {
									"name": "ww_runrinserinmanualmode",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_Runrinserinmanualmode",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_screencheckfordoserate",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_screencheckfordoserate",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_screwcapcork",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_ScrewcapCork",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_screwcapperchutecheckedeor",
									"type": "String"
								},
								"sink": {
									"name": "ww_ScrewcapperchutecheckedEOR",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_setpointtemperaturec",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_setpointtemperaturec",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_shakendo",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_shakendo",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "crc5d_shakendoendofrun",
									"type": "Decimal"
								},
								"sink": {
									"name": "crc5d_ShakenDOEndofrun",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_sparkling",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_sparkling",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_specsheetreadandsigned",
									"type": "String"
								},
								"sink": {
									"name": "ww_specsheetreadandsigned",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_sterilisefiltersbowl",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_SteriliseFiltersBowl",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_sterilisevelcorin",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_SteriliseVelcorin",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_sterilizationfilterintegrityverification",
									"type": "String"
								},
								"sink": {
									"name": "ww_sterilizationfilterintegrityverification",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_sterilizationfinish",
									"type": "DateTime"
								},
								"sink": {
									"name": "ww_sterilizationfinish",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ww_sterilizationmembraneintegrity",
									"type": "String"
								},
								"sink": {
									"name": "ww_sterilizationmembraneintegrity",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_sterilizationprocess",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_sterilizationprocess",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_sterilizationprocesssig",
									"type": "String"
								},
								"sink": {
									"name": "ww_sterilizationprocesssig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_sterilizationrfintegrityverificationsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_sterilizationrfintegrityverificationsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_sterilizationrinserintegrity",
									"type": "String"
								},
								"sink": {
									"name": "ww_sterilizationrinserintegrity",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_sterilizationstart",
									"type": "DateTime"
								},
								"sink": {
									"name": "ww_sterilizationstart",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ww_sterilizationtemperature",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_sterilizationtemperature",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_stockcodechecked",
									"type": "String"
								},
								"sink": {
									"name": "ww_stockcodechecked",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_tanker",
									"type": "Guid"
								},
								"sink": {
									"name": "ww_tanker",
									"type": "Guid"
								}
							},
							{
								"source": {
									"name": "ww_tankerlookup",
									"type": "Guid"
								},
								"sink": {
									"name": "ww_tankerlookup",
									"type": "Guid"
								}
							},
							{
								"source": {
									"name": "ww_tankpressure",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_tankpressure",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_threadrollersh1",
									"type": "String"
								},
								"sink": {
									"name": "ww_threadrollersh1",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_threadrollersh10",
									"type": "String"
								},
								"sink": {
									"name": "ww_threadrollersh10",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_threadrollersh11",
									"type": "String"
								},
								"sink": {
									"name": "ww_threadrollersh11",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_threadrollersh12",
									"type": "String"
								},
								"sink": {
									"name": "ww_threadrollersh12",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_threadrollersh2",
									"type": "String"
								},
								"sink": {
									"name": "ww_threadrollersh2",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_threadrollersh3",
									"type": "String"
								},
								"sink": {
									"name": "ww_threadrollersh3",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_threadrollersh4",
									"type": "String"
								},
								"sink": {
									"name": "ww_threadrollersh4",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_threadrollersh5",
									"type": "String"
								},
								"sink": {
									"name": "ww_threadrollersh5",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_threadrollersh6",
									"type": "String"
								},
								"sink": {
									"name": "ww_threadrollersh6",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_threadrollersh7",
									"type": "String"
								},
								"sink": {
									"name": "ww_threadrollersh7",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_threadrollersh8",
									"type": "String"
								},
								"sink": {
									"name": "ww_threadrollersh8",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_threadrollersh9",
									"type": "String"
								},
								"sink": {
									"name": "ww_threadrollersh9",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_tuckrollersh1",
									"type": "String"
								},
								"sink": {
									"name": "ww_tuckrollersh1",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_tuckrollersh10",
									"type": "String"
								},
								"sink": {
									"name": "ww_tuckrollersh10",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_tuckrollersh11",
									"type": "String"
								},
								"sink": {
									"name": "ww_tuckrollersh11",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_tuckrollersh12",
									"type": "String"
								},
								"sink": {
									"name": "ww_tuckrollersh12",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_tuckrollersh2",
									"type": "String"
								},
								"sink": {
									"name": "ww_tuckrollersh2",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_tuckrollersh3",
									"type": "String"
								},
								"sink": {
									"name": "ww_tuckrollersh3",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_tuckrollersh4",
									"type": "String"
								},
								"sink": {
									"name": "ww_tuckrollersh4",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_tuckrollersh5",
									"type": "String"
								},
								"sink": {
									"name": "ww_tuckrollersh5",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_tuckrollersh6",
									"type": "String"
								},
								"sink": {
									"name": "ww_tuckrollersh6",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_tuckrollersh7",
									"type": "String"
								},
								"sink": {
									"name": "ww_tuckrollersh7",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_tuckrollersh8",
									"type": "String"
								},
								"sink": {
									"name": "ww_tuckrollersh8",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_tuckrollersh9",
									"type": "String"
								},
								"sink": {
									"name": "ww_tuckrollersh9",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_typeofchange",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_typeofchange",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_velcorincannisterbatch",
									"type": "String"
								},
								"sink": {
									"name": "ww_VelcorinCannisterBatch",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_velcorincannisterexpiry",
									"type": "DateTime"
								},
								"sink": {
									"name": "ww_VelcorinCannisterExpiry",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ww_velcorindateandbatchofbottle",
									"type": "String"
								},
								"sink": {
									"name": "ww_velcorindateandbatchofbottle",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_velcorindatecurrentbottleopened",
									"type": "DateTime"
								},
								"sink": {
									"name": "ww_velcorindatecurrentbottleopened",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ww_velcorinheatingonsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_velcorinheatingonsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_velcorinnoalarmsshowingsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_velcorinnoalarmsshowingsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_velcorinproductionmodeoffsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_velcorinproductionmodeoffsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_velcorinproductionmodeonsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_velcorinproductionmodeonsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_velcorinstarttime",
									"type": "DateTime"
								},
								"sink": {
									"name": "ww_VelcorinStartTime",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ww_velcorinendtemp",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_VelcorinEndTemp",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_velcorinfinishtime",
									"type": "DateTime"
								},
								"sink": {
									"name": "ww_VelcorinFinishTime",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ww_velcorinsterilizationcompletedsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_velcorinsterilizationcompletedsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_velcorinsystemdrainedsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_velcorinsystemdrainedsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_velcorinunitlinessig",
									"type": "String"
								},
								"sink": {
									"name": "ww_velcorinunitlinessig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_velcorinstarttemp",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_VelcorinStartTemp",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_venttubecount",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_venttubecount",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_visualcolourmatchtankbtl",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_visualcolourmatchtankbtl",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_visualleaks",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_visualleaks",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_volume",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_volume",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_warmingtunnelpump",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_warmingtunnelpump",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_warmingtunnelsetup",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_warmingtunnelsetup",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_winemakersignatureid",
									"type": "Guid"
								},
								"sink": {
									"name": "ww_winemakersignatureid",
									"type": "Guid"
								}
							},
							{
								"source": {
									"name": "ww_winepump",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_winepump",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_winepumpmarkedsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_winepumpmarkedsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_winepumpsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_winepumpsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_winesignedoffsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_winesignedoffsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_winetempinternalprobe",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_winetempinternalprobe",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_winemakerapproved",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_winemakerapproved",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_xraydensitybottles",
									"type": "String"
								},
								"sink": {
									"name": "ww_xraydensitybottles",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_xraylimitsrejecting",
									"type": "String"
								},
								"sink": {
									"name": "ww_xraylimitsrejecting",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_xrayseton",
									"type": "String"
								},
								"sink": {
									"name": "ww_xrayseton",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_zorksealcheckok",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_zorksealcheckok",
									"type": "Boolean"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "FillerOperation",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "wwsql003_ww_filleroperation2",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Merge Statement",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Filler Operator",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_ww_filleroperation]"
				},
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Email on Failure Filler Operator",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Filler Operator",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
					"body": {
						"DataFactoryName": "@{pipeline().DataFactory}",
						"PipelineName": "@{pipeline().Pipeline}",
						"Subject": "An error has occurred!",
						"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
						"EmailTo": "WWSQL_Admins@wineworks.co.nz"
					}
				}
			},
			{
				"name": "Email on Failure Filler Operator merge",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Merge Statement",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
					"body": {
						"DataFactoryName": "@{pipeline().DataFactory}",
						"PipelineName": "@{pipeline().Pipeline}",
						"Subject": "An error has occurred!",
						"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
						"EmailTo": "WWSQL_Admins@wineworks.co.nz"
					}
				}
			},
			{
				"name": "Last modifiedon",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT coalesce(MAX(CAST(SWITCHOFFSET(modifiedon, -DATEPART(TZOFFSET, modifiedon AT TIME ZONE 'New Zealand Standard Time')) AS DATETIME)),'2018-01-01') AS last_modifiedon\nFROM [Dataverse].[dbo].[ww_filleroperation];",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "wwsql003_ww_filleroperation2",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-07-26T22:14:19Z"
	}
}