ADF_Pipeline/Ingestion/pipeline/ww_hourlytorqueandvolume - Copy - Copy - Copy.json
{
	"name": "ww_hourlytorqueandvolume",
	"properties": {
		"activities": [
			{
				"name": "Hourly Torque and Volume",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Last modifiedon",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "CommonDataServiceForAppsSource",
						"query": {
							"value": "<fetch>\n  <entity name=\"ww_hourlytorqueandvolume\">\n    <all-attributes />\n    <filter>\n      <condition attribute=\"modifiedon\" operator=\"gt\" value=\"@{activity('Last modifiedon').output.firstRow.last_modifiedon}\" />\n    </filter>\n  </entity>\n</fetch>\n",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"ww_hourlytorqueandvolumeid"
							]
						},
						"sqlWriterUseTableLock": true
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "crc5d_density",
									"type": "Decimal"
								},
								"sink": {
									"name": "crc5d_density",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "crc5d_radialmovementchecksig",
									"type": "String"
								},
								"sink": {
									"name": "crc5d_radialmovementchecksig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "crc5d_redrawsealcheck",
									"type": "String"
								},
								"sink": {
									"name": "crc5d_redrawsealcheck",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "createdon",
									"type": "DateTime"
								},
								"sink": {
									"name": "createdon",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "modifiedon",
									"type": "DateTime"
								},
								"sink": {
									"name": "modifiedon",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "statuscode",
									"type": "Int32"
								},
								"sink": {
									"name": "statuscode",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "new_customertank",
									"type": "String"
								},
								"sink": {
									"name": "new_customertank",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_adjustment",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_adjustment",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_adjustmenthasbeenmadesig",
									"type": "String"
								},
								"sink": {
									"name": "ww_adjustmenthasbeenmadesig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_alcoholsprayingvalvesused",
									"type": "String"
								},
								"sink": {
									"name": "ww_alcoholsprayingvalvesused",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_averageweight",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_averageweight",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_averagevolume",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_averagevolume",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_balancecheck",
									"type": "String"
								},
								"sink": {
									"name": "ww_balancecheck",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_billofmaterials",
									"type": "Guid"
								},
								"sink": {
									"name": "ww_billofmaterials",
									"type": "Guid"
								}
							},
							{
								"source": {
									"name": "ww_bucketflowedtime",
									"type": "DateTime"
								},
								"sink": {
									"name": "ww_bucketflowedtime",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ww_bucketskegsflowedintime",
									"type": "String"
								},
								"sink": {
									"name": "ww_bucketskegsflowedintime",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_capcoloursig",
									"type": "String"
								},
								"sink": {
									"name": "ww_capcoloursig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_capilscodesig",
									"type": "String"
								},
								"sink": {
									"name": "ww_capilscodesig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_capimpressionacceptable",
									"type": "String"
								},
								"sink": {
									"name": "ww_capimpressionacceptable",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_capprintingsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_capprintingsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_chippedneck",
									"type": "String"
								},
								"sink": {
									"name": "ww_chippedneck",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_colour",
									"type": "String"
								},
								"sink": {
									"name": "ww_colour",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_colourcheckedsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_colourcheckedsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_comments",
									"type": "String"
								},
								"sink": {
									"name": "ww_comments",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_corkbaseclearofcorksforeignmatter",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_corkbaseclearofcorksforeignmatter",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_corkbrandingsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_corkbrandingsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_corkcolour",
									"type": "String"
								},
								"sink": {
									"name": "ww_corkcolour",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_corkcolourcheckedsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_corkcolourcheckedsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_corkdepthaftermuselet",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_corkdepthaftermuselet",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_corkilscodesig",
									"type": "String"
								},
								"sink": {
									"name": "ww_corkilscodesig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_corkinsertion",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_corkinsertion",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_corkinsertionchecked",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_CorkInsertionChecked",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_corkinsertionsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_corkinsertionsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_corklengthsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_corklengthsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_corkmoisturereading",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_Corkmoisturereading",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_corkmoisturesig",
									"type": "String"
								},
								"sink": {
									"name": "ww_corkmoisturesig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_corkplungedepth",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_corkplungedepth",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_corkprintingsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_corkprintingsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_datetime",
									"type": "DateTime"
								},
								"sink": {
									"name": "ww_datetime",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ww_deleteline",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_deleteline",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_emptybottleweight",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_emptybottleweight",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_emptybottleweight1",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_emptybottleweight1",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_emptybottleweight10",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_emptybottleweight10",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_emptybottleweight11",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_emptybottleweight11",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_emptybottleweight12",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_emptybottleweight12",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_emptybottleweight2",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_emptybottleweight2",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_emptybottleweight3",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_emptybottleweight3",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_emptybottleweight4",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_emptybottleweight4",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_emptybottleweight5",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_emptybottleweight5",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_emptybottleweight6",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_emptybottleweight6",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_emptybottleweight7",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_emptybottleweight7",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_emptybottleweight8",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_emptybottleweight8",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_emptybottleweight9",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_emptybottleweight9",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_fillheight1",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_fillheight1",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_fillheight10",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_fillheight10",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_fillheight11",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_fillheight11",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_fillheight12",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_fillheight12",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_fillheight2",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_fillheight2",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_fillheight3",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_fillheight3",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_fillheight4",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_fillheight4",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_fillheight5",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_fillheight5",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_fillheight6",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_fillheight6",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_fillheight7",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_fillheight7",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_fillheight8",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_fillheight8",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_fillheight9",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_fillheight9",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_flowedfrom",
									"type": "String"
								},
								"sink": {
									"name": "ww_flowedfrom",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_flowedto",
									"type": "String"
								},
								"sink": {
									"name": "ww_flowedto",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_fullbottleweight1",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_fullbottleweight1",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_fullbottleweight10",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_fullbottleweight10",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_fullbottleweight11",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_fullbottleweight11",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_fullbottleweight12",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_fullbottleweight12",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_fullbottleweight2",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_fullbottleweight2",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_fullbottleweight3",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_fullbottleweight3",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_fullbottleweight4",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_fullbottleweight4",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_fullbottleweight5",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_fullbottleweight5",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_fullbottleweight6",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_fullbottleweight6",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_fullbottleweight7",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_fullbottleweight7",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_fullbottleweight8",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_fullbottleweight8",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_fullbottleweight9",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_fullbottleweight9",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_gapingbrokenbridges",
									"type": "String"
								},
								"sink": {
									"name": "ww_gapingbrokenbridges",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_grossweight",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_grossweight",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_headspacemeasurement",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_HeadSpaceMeasurement",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_headspacemeasurementsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_headspacemeasurementsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_headspacepressuremeasurement",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_HeadSpacePressureMeasurement",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_headspacemeasurementcomments",
									"type": "String"
								},
								"sink": {
									"name": "ww_HeadSpaceMeasurementComments",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_headspacepressuresig",
									"type": "String"
								},
								"sink": {
									"name": "ww_headspacepressuresig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_hourlytorqueandvolumeid",
									"type": "Guid"
								},
								"sink": {
									"name": "ww_hourlytorqueandvolumeid",
									"type": "Guid"
								}
							},
							{
								"source": {
									"name": "ww_inversiontesttocheckforleakers",
									"type": "String"
								},
								"sink": {
									"name": "ww_inversiontesttocheckforleakers",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_isthemuseletsecure",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_isthemuseletsecure",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_isthemuseletuniform",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_isthemuseletuniform",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_isthetieupright",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_isthetieupright",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_key",
									"type": "String"
								},
								"sink": {
									"name": "ww_key",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_museletbaseclearofmuseletsfm",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_museletbaseclearofmuseletsfm",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_nettweight",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_nettweight",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_operatorcode",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_operatorcode",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_printing",
									"type": "String"
								},
								"sink": {
									"name": "ww_printing",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_printingcheckedsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_printingcheckedsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_productcheckedandmatches",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_productcheckedandmatches",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_productionline",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_productionline",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_pulltucktest",
									"type": "String"
								},
								"sink": {
									"name": "ww_pulltucktest",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_pulltucktestchecked",
									"type": "String"
								},
								"sink": {
									"name": "ww_pulltucktestchecked",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_reasonfordeletion",
									"type": "String"
								},
								"sink": {
									"name": "ww_reasonfordeletion",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_rimimpression",
									"type": "String"
								},
								"sink": {
									"name": "ww_rimimpression",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_screwcapmarkings",
									"type": "String"
								},
								"sink": {
									"name": "ww_screwcapmarkings",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_screwcapperchutecheckedsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_screwcapperchutecheckedsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_screwcapperchutesig",
									"type": "String"
								},
								"sink": {
									"name": "ww_screwcapperchutesig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_sparkling",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_sparkling",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_stockcode",
									"type": "String"
								},
								"sink": {
									"name": "ww_stockcode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_stockcodecheckedsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_stockcodecheckedsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_tafillheight1",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_tafillheight1",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_tafillheight10",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_tafillheight10",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_tafillheight11",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_tafillheight11",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_tafillheight12",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_tafillheight12",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_tafillheight2",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_tafillheight2",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_tafillheight3",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_tafillheight3",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_tafillheight4",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_tafillheight4",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_tafillheight5",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_tafillheight5",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_tafillheight6",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_tafillheight6",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_tafillheight7",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_tafillheight7",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_tafillheight8",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_tafillheight8",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_tafillheight9",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_tafillheight9",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_tankchangedflowedintime",
									"type": "DateTime"
								},
								"sink": {
									"name": "ww_tankchangedflowedintime",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ww_tanker",
									"type": "Guid"
								},
								"sink": {
									"name": "ww_tanker",
									"type": "Guid"
								}
							},
							{
								"source": {
									"name": "ww_tareweight",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_tareweight",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_torquebreak1",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_torquebreak1",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_torquebreak10",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_torquebreak10",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_torquebreak2",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_torquebreak2",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_torquebreak3",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_torquebreak3",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_torquebreak4",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_torquebreak4",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_torquebreak5",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_torquebreak5",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_torquebreak6",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_torquebreak6",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_torquebreak7",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_torquebreak7",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_torquebreak8",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_torquebreak8",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_torquebreak9",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_torquebreak9",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_torquebreak11",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_torquebreak11",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_torquebreak12",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_torquebreak12",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_torquecap1",
									"type": "String"
								},
								"sink": {
									"name": "ww_torquecap1",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_torquecap10",
									"type": "String"
								},
								"sink": {
									"name": "ww_torquecap10",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_torquecap2",
									"type": "String"
								},
								"sink": {
									"name": "ww_torquecap2",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_torquecap3",
									"type": "String"
								},
								"sink": {
									"name": "ww_torquecap3",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_torquecap4",
									"type": "String"
								},
								"sink": {
									"name": "ww_torquecap4",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_torquecap5",
									"type": "String"
								},
								"sink": {
									"name": "ww_torquecap5",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_torquecap6",
									"type": "String"
								},
								"sink": {
									"name": "ww_torquecap6",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_torquecap7",
									"type": "String"
								},
								"sink": {
									"name": "ww_torquecap7",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_torquecap8",
									"type": "String"
								},
								"sink": {
									"name": "ww_torquecap8",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_torquecap9",
									"type": "String"
								},
								"sink": {
									"name": "ww_torquecap9",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_torqueslip1",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_torqueslip1",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_torqueslip10",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_torqueslip10",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_torqueslip2",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_torqueslip2",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_torqueslip3",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_torqueslip3",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_torqueslip4",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_torqueslip4",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_torqueslip5",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_torqueslip5",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_torqueslip6",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_torqueslip6",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_torqueslip7",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_torqueslip7",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_torqueslip8",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_torqueslip8",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_torqueslip9",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_torqueslip9",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_torqueslip11",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_torqueslip11",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_torqueslip12",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_torqueslip12",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_visualfloaties",
									"type": "String"
								},
								"sink": {
									"name": "ww_visualfloaties",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_visualsealonbottle",
									"type": "String"
								},
								"sink": {
									"name": "ww_visualsealonbottle",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_winetemperature",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_winetemperature",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_zorksealcheckok",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_zorksealcheckok",
									"type": "Boolean"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "HourlyTorqueandVolume",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SqlServerTable11",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Merge Statement",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Hourly Torque and Volume",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_ww_hourlytorqueandvolume]"
				},
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP Fail Email",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Merge Statement",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
					"body": {
						"DataFactoryName": "@{pipeline().DataFactory}",
						"PipelineName": "@{pipeline().Pipeline}",
						"Subject": "An error has occurred!",
						"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
						"EmailTo": "WWSQL_Admins@wineworks.co.nz"
					}
				}
			},
			{
				"name": "Email on Failure BOM",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Hourly Torque and Volume",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
					"body": {
						"DataFactoryName": "@{pipeline().DataFactory}",
						"PipelineName": "@{pipeline().Pipeline}",
						"Subject": "An error has occurred!",
						"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
						"EmailTo": "WWSQL_Admins@wineworks.co.nz"
					}
				}
			},
			{
				"name": "Last modifiedon",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT coalesce(MAX(CAST(SWITCHOFFSET(modifiedon, -DATEPART(TZOFFSET, modifiedon AT TIME ZONE 'New Zealand Standard Time')) AS DATETIME)),'2018-01-01') AS last_modifiedon\nFROM [Dataverse].[dbo].[ww_hourlytorqueandvolume];",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTable11",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			}
		],
		"annotations": []
	}
}