ADF_Pipeline/Ingestion/pipeline/ww_hourlycartonusage - Copy (2).json
{
	"name": "ww_hourlycartonusage",
	"properties": {
		"activities": [
			{
				"name": "Hourly Carton Usage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Last modifiedon",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "CommonDataServiceForAppsSource",
						"query": {
							"value": "<fetch>\r\n  <entity name=\"ww_hourlycartonusage\">\r\n    <all-attributes />\r\n    <filter type=\"and\">\r\n     \r\n      <condition attribute=\"ww_billofmaterials\" operator=\"not-null\" />\r\n     \r\n      <condition attribute=\"modifiedon\" operator=\"gt\" value=\"@{activity('Last modifiedon').output.firstRow.last_modifiedon}\" />\r\n    </filter>\r\n  </entity>\r\n</fetch>\r\n",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"ww_hourlycartonusageid"
							]
						},
						"sqlWriterUseTableLock": true
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ww_alcohol",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_alcohol",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_alcoholna",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_alcoholna",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_barcode",
									"type": "String"
								},
								"sink": {
									"name": "ww_barcode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_barcodena",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_barcodena",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_billofmaterials",
									"type": "Guid"
								},
								"sink": {
									"name": "ww_billofmaterials",
									"type": "Guid"
								}
							},
							{
								"source": {
									"name": "ww_cartonclosure",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_cartonclosure",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_cartoncode",
									"type": "String"
								},
								"sink": {
									"name": "ww_cartoncode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_cartondamage",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_cartondamage",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_cartonfibretear",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_cartonfibretear",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_cartoninkjetcorrectcode",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_cartoninkjetcorrectcode",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_cartonlabelused",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_cartonlabelused",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_cartonskew",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_cartonskew",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_cartonvarietyvintage",
									"type": "String"
								},
								"sink": {
									"name": "ww_cartonvarietyvintage",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_country",
									"type": "String"
								},
								"sink": {
									"name": "ww_country",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "createdon",
									"type": "DateTime"
								},
								"sink": {
									"name": "CreatedOn",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ww_deleteline",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_deleteline",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_dividerused",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_dividerused",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_dividersils",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_dividersils",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_hourlycartonusageid",
									"type": "Guid"
								},
								"sink": {
									"name": "ww_hourlycartonusageid",
									"type": "Guid"
								}
							},
							{
								"source": {
									"name": "importsequencenumber",
									"type": "Int32"
								},
								"sink": {
									"name": "importsequencenumber",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_key",
									"type": "String"
								},
								"sink": {
									"name": "ww_key",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_lotcode",
									"type": "String"
								},
								"sink": {
									"name": "ww_lotcode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "modifiedon",
									"type": "DateTime"
								},
								"sink": {
									"name": "ModifiedOn",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ww_operatorcode",
									"type": "String"
								},
								"sink": {
									"name": "ww_operatorcode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_productionline",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_productionline",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_reasonfordeletion",
									"type": "String"
								},
								"sink": {
									"name": "ww_reasonfordeletion",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_quantity",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_quantity",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_runnumber",
									"type": "String"
								},
								"sink": {
									"name": "ww_runnumber",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "statuscode",
									"type": "Int32"
								},
								"sink": {
									"name": "statuscode",
									"type": "Int32"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "HourlyCartonUsage",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "wwsql003_ww_hourlycartonusage",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Merge Statement",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Hourly Carton Usage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_ww_hourlycartonusage]"
				},
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Data Copy fail email",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Hourly Carton Usage",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
					"body": {
						"DataFactoryName": "@{pipeline().DataFactory}",
						"PipelineName": "@{pipeline().Pipeline}",
						"Subject": "An error has occurred!",
						"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
						"EmailTo": "WWSQL_Admins@wineworks.co.nz"
					}
				}
			},
			{
				"name": "SP Fail Email",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Merge Statement",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
					"body": {
						"DataFactoryName": "@{pipeline().DataFactory}",
						"PipelineName": "@{pipeline().Pipeline}",
						"Subject": "An error has occurred!",
						"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
						"EmailTo": "WWSQL_Admins@wineworks.co.nz"
					}
				}
			},
			{
				"name": "Last modifiedon",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT coalesce(MAX(CAST(SWITCHOFFSET(modifiedon, -DATEPART(TZOFFSET, modifiedon AT TIME ZONE 'New Zealand Standard Time')) AS DATETIME)),'2018-01-01') AS last_modifiedon\nFROM [Dataverse].[dbo].[ww_hourlycartonusage];\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "wwsql003_ww_hourlycartonusage",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			}
		],
		"annotations": []
	}
}