ADF_Pipeline/Ingestion/pipeline/ww_operatorbottlinghourly - Copy - Copy - Copy.json
{
	"name": "ww_operatorbottlinghourly",
	"properties": {
		"activities": [
			{
				"name": "Hourly Operator Bottling",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Last modifiedon",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "CommonDataServiceForAppsSource",
						"query": {
							"value": "<fetch>\n  <entity name=\"ww_operatorbottlinghourly\">\n    <all-attributes />\n    <filter>\n      <condition attribute=\"modifiedon\" operator=\"gt\" value=\"@{activity('Last modifiedon').output.firstRow.last_modifiedon}\" />\n    </filter>\n  </entity>\n</fetch>\n",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"ww_operatorbottlinghourlyid"
							]
						},
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "createdon",
									"type": "DateTime"
								},
								"sink": {
									"name": "createdon",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "modifiedon",
									"type": "DateTime"
								},
								"sink": {
									"name": "modifiedon",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "statuscode",
									"type": "Int32"
								},
								"sink": {
									"name": "statuscode",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_anybottlesbrokeninthelasthour",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_anybottlesbrokeninthelasthour",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_authorisedsig",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_authorisedsig",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_autolevelmanometer",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_autolevelmanometer",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_bardifferential",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_bardifferential",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_billofmaterials",
									"type": "Guid"
								},
								"sink": {
									"name": "ww_billofmaterials",
									"type": "Guid"
								}
							},
							{
								"source": {
									"name": "ww_bottlecodesig",
									"type": "String"
								},
								"sink": {
									"name": "ww_bottlecodesig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_bottlecoloursig",
									"type": "String"
								},
								"sink": {
									"name": "ww_bottlecoloursig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_bottlelasersticker",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_bottlelasersticker",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_bottlelaserstickersig",
									"type": "String"
								},
								"sink": {
									"name": "ww_bottlelaserstickersig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_bottlelightcolour",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_Bottlelightcolour",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_bottlenumberasperlasercoder",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_bottlenumberasperlasercoder",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_bottlerubmark",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_bottlerubmark",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_bottleshapesig",
									"type": "String"
								},
								"sink": {
									"name": "ww_bottleshapesig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_bottlevacuum",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_bottlevacuum",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_bottlevacuumaccordingtorecipe",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_bottlevacuumaccordingtorecipe",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_bottlingfrom",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_bottlingfrom",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_bottlingto",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_bottlingto",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_bowlmn2pressure",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_bowlmn2pressure",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_bowlvacuum",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_bowlvacuum",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_bucketsflowedintime",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_bucketsflowedintime",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_bucketsflowedtime",
									"type": "DateTime"
								},
								"sink": {
									"name": "ww_bucketsflowedtime",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ww_capdetectoronsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_capdetectoronsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_charmattankc02",
									"type": "String"
								},
								"sink": {
									"name": "ww_charmattankc02",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_checkdocketandphysicallycheckwineisrun",
									"type": "String"
								},
								"sink": {
									"name": "ww_checkdocketandphysicallycheckwineisrun",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_chippednecks",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_chippednecks",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_closuretypechecked",
									"type": "String"
								},
								"sink": {
									"name": "ww_closuretypechecked",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_co2",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_co2",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_collectexportsamples",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_collectexportsamples",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_corkinsertion",
									"type": "String"
								},
								"sink": {
									"name": "ww_corkinsertion",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_corkerclearance",
									"type": "String"
								},
								"sink": {
									"name": "ww_corkerclearance",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_corkervacuum",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_corkervacuum",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_corkervacuum08to10bar",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_corkervacuum08to10bar",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_counterpressureinlet",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_counterpressureinlet",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_counterpressureoutlet",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_counterpressureoutlet",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_datecurrentbottleopened",
									"type": "DateTime"
								},
								"sink": {
									"name": "ww_Datecurrentbottleopened",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ww_deleteline",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_deleteline",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_deoxn2pressre",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_deoxn2pressre",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_deoxvacuumpressure",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_deoxvacuumpressure",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_dissolvedc02inbottle",
									"type": "String"
								},
								"sink": {
									"name": "ww_dissolvedc02inbottle",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_do2frombottle",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_do2frombottle",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_do2fromvessel",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_do2fromvessel",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_exportsamplespicked",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_exportsamplespicked",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_fillerbowlpressure",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_fillerbowlpressure",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_fillerbowltemperature",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_fillerbowltemperature",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_fillerhead",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_fillerhead",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_fillerspeed",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_fillerspeed",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_fillertemperature40c",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_fillertemperature40c",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_fillertipsealsvisualchecksig",
									"type": "String"
								},
								"sink": {
									"name": "ww_fillertipsealsvisualchecksig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_fillheight",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_fillheight",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_fillheightchallengetested",
									"type": "String"
								},
								"sink": {
									"name": "ww_fillheightchallengetested",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_fillheightdetectoronsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_fillheightdetectoronsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_filterdifferential",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_filterdifferential",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_filtrationpressuregauge",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_filtrationpressuregauge",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_finalfilter",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_finalfilter",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_flowmetercheck",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_flowmetercheck",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_flowedfrom",
									"type": "String"
								},
								"sink": {
									"name": "ww_flowedfrom",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_flowedto",
									"type": "String"
								},
								"sink": {
									"name": "ww_flowedto",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_foreignbodyvisualcheck",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_foreignbodyvisualcheck",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_foreignmattersig",
									"type": "String"
								},
								"sink": {
									"name": "ww_foreignmattersig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_gasblowonbottle",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_gasblowonbottle",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_gascoveronbowl",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_gascoveronbowl",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_gasfeedtocorker",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_gasfeedtocorker",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_gasfeedtocorker1030kpa",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_gasfeedtocorker1030kpa",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "crc5d_gasfirstblow",
									"type": "Decimal"
								},
								"sink": {
									"name": "crc5d_gasfirstblow",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_gasflowratetobowlline2",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_gasflowratetobowlline2",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_gasflowtocap",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_gasflowtocap",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_gaspressuretobottlingtank",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_gaspressuretobottlingtank",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_glassfragments",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_glassfragments",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_glassfragmentscheck",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_glassfragmentscheck",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_glassfragmentsexplanation",
									"type": "String"
								},
								"sink": {
									"name": "ww_glassfragmentsexplanation",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "crc5d_glassfragmentswithblank",
									"type": "Int32"
								},
								"sink": {
									"name": "crc5d_glassfragmentswithblank",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_headspacemeasurement",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_headspacemeasurement",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_headspacepressure",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_headspacepressure",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_inbottle",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_inbottle",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_intank",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_intank",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_inertgaspressure",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_inertgaspressure",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_kegsflowedintime",
									"type": "DateTime"
								},
								"sink": {
									"name": "ww_kegsflowedintime",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ww_knifebladecheck",
									"type": "String"
								},
								"sink": {
									"name": "ww_knifebladecheck",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_lasercodeasperspec",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_lasercodeasperspec",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_lasercodeonbottle",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_lasercodeonbottle",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_lenticularfilter",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_lenticularfilter",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_lenticularfilteroptions",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_LenticularFilteroptions",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_litmuspapertestinproduct",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_litmuspapertestinproduct",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_n2buffervesselpressure",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_n2buffervesselpressure",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_name",
									"type": "String"
								},
								"sink": {
									"name": "ww_name",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_neckcheck",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_neckcheck",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_notes",
									"type": "String"
								},
								"sink": {
									"name": "ww_notes",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_numberofforeignbodiespresent",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_numberofforeignbodiespresent",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_numberofkegs",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_numberofkegs",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_operatorbottlinghourlyid",
									"type": "Guid"
								},
								"sink": {
									"name": "ww_operatorbottlinghourlyid",
									"type": "Guid"
								}
							},
							{
								"source": {
									"name": "ww_operatorcode",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_operatorcode",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_palletnumber",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_palletnumber",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_pittingsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_pittingsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_prefilter",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_prefilter",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_prepcheck2",
									"type": "String"
								},
								"sink": {
									"name": "ww_prepcheck2",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_prepcheck3",
									"type": "String"
								},
								"sink": {
									"name": "ww_prepcheck3",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_productcheckedandmatches",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_productcheckedandmatches",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_prepchecksig",
									"type": "String"
								},
								"sink": {
									"name": "ww_prepchecksig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_productionline",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_productionline",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_pumpnumber",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_pumpnumber",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_pumpnumberbendpanel",
									"type": "String"
								},
								"sink": {
									"name": "ww_pumpnumberbendpanel",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_pumpspeed",
									"type": "String"
								},
								"sink": {
									"name": "ww_pumpspeed",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_reasonfordeletion",
									"type": "String"
								},
								"sink": {
									"name": "ww_reasonfordeletion",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_rimdetectionlighton",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_rimdetectionlighton",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_rinseheadinspection",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_rinseheadinspection",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_rinseheadmedium",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_rinseheadmedium",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_rinsejetcoveragesig",
									"type": "String"
								},
								"sink": {
									"name": "ww_rinsejetcoveragesig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_rinserbottlegripperclearancesig",
									"type": "String"
								},
								"sink": {
									"name": "ww_rinserbottlegripperclearancesig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_rinsercleanliness",
									"type": "String"
								},
								"sink": {
									"name": "ww_RinserCleanliness",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_rinsercleanlinesssig",
									"type": "String"
								},
								"sink": {
									"name": "ww_RinserCleanlinessSig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_rinsergassupplyco2",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_rinsergassupplyco2",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_rinsergaswatersupply",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_rinsergaswatersupply",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_rinsergaswatersupplyline1",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_rinsergaswatersupplyline1",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_rinsergaswatersupplyline2",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_rinsergaswatersupplyline2",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_rinsern2pressure",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_rinsern2pressure",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_rinserpressurefluctuations",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_rinserpressurefluctuations",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_rinsertipsvisualchecksig",
									"type": "String"
								},
								"sink": {
									"name": "ww_rinsertipsvisualchecksig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_rinserwatersupply",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_rinserwatersupply",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_rinsewater045mprefilter",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_rinsewater045mprefilter",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_rinsewater12mprefilter",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_rinsewater12mprefilter",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_rockstopper",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_rockstopper",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_rockstopperfilter",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_rockstopperfilter",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "crc5d_rockstopperfiltervalue",
									"type": "Decimal"
								},
								"sink": {
									"name": "crc5d_rockstopperfiltervalue",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_samplessig",
									"type": "String"
								},
								"sink": {
									"name": "ww_samplessig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_screencheckfordoserate",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_screencheckfordoserate",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_selflevelling",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_selflevelling",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "crc5d_shakendorequired",
									"type": "Boolean"
								},
								"sink": {
									"name": "crc5d_shakendorequired",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "crc5d_shakendostartofrun",
									"type": "Decimal"
								},
								"sink": {
									"name": "crc5d_shakendostartofrun",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_sparkling",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_sparkling",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_stockcodesig",
									"type": "String"
								},
								"sink": {
									"name": "ww_stockcodesig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_tankchangeflowedintimesig",
									"type": "String"
								},
								"sink": {
									"name": "ww_tankchangeflowedintimesig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_tankgas",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_tankgas",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_tankjointscheckedfornleakssig",
									"type": "String"
								},
								"sink": {
									"name": "ww_tankjointscheckedfornleakssig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_tankpressure",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_tankpressure",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_tanker",
									"type": "Guid"
								},
								"sink": {
									"name": "ww_tanker",
									"type": "Guid"
								}
							},
							{
								"source": {
									"name": "ww_temperature",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_temperature",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_timeofauthorisedauditcheck",
									"type": "DateTime"
								},
								"sink": {
									"name": "ww_timeofauthorisedauditcheck",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ww_timeofcheckmicrosampletaken",
									"type": "DateTime"
								},
								"sink": {
									"name": "ww_timeofcheckmicrosampletaken",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ww_tkinjectionmanometer",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_tkinjectionmanometer",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_velcorinalarms",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_velcorinalarms",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_velcorinalarmssig",
									"type": "String"
								},
								"sink": {
									"name": "ww_velcorinalarmssig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_velcorincannisterbatch",
									"type": "String"
								},
								"sink": {
									"name": "ww_VelcorinCannisterBatch",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_velcorincannisterchanged",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_Velcorincannisterchanged",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_velcorincannisterexpiry",
									"type": "DateTime"
								},
								"sink": {
									"name": "ww_VelcorinCannisterExpiry",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ww_velcorinchangebottlelightsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_velcorinchangebottlelightsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_velcorindosingrate",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_velcorindosingrate",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_velcorintestscriptinproduct",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_velcorintestscriptinproduct",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_velcorntime",
									"type": "DateTime"
								},
								"sink": {
									"name": "ww_velcorntime",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ww_venttubecount",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_venttubecount",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_visualfloatiescheckedsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_visualfloatiescheckedsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_visualleakssig",
									"type": "String"
								},
								"sink": {
									"name": "ww_visualleakssig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_warmingtunnelrunningtemperature",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_warmingtunnelrunningtemperature",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_winetemperatureinternalprobe40c",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_winetemperatureinternalprobe40c",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_winetempinternalprobe",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_winetempinternalprobe",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_xraychallengetest",
									"type": "String"
								},
								"sink": {
									"name": "ww_xraychallengetest",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "HourlyOperatorBottling",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "wwsql003_ww_operatorbottlinghourly2",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Merge Statement",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Hourly Operator Bottling",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_ww_operatorbottlinghourly]"
				},
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Data Copy fail email",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Hourly Operator Bottling",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
					"body": {
						"DataFactoryName": "@{pipeline().DataFactory}",
						"PipelineName": "@{pipeline().Pipeline}",
						"Subject": "An error has occurred!",
						"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
						"EmailTo": "WWSQL_Admins@wineworks.co.nz"
					}
				}
			},
			{
				"name": "SP Fail Email",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Merge Statement",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
					"body": {
						"DataFactoryName": "@{pipeline().DataFactory}",
						"PipelineName": "@{pipeline().Pipeline}",
						"Subject": "An error has occurred!",
						"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
						"EmailTo": "WWSQL_Admins@wineworks.co.nz"
					}
				}
			},
			{
				"name": "Last modifiedon",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT coalesce(MAX(CAST(SWITCHOFFSET(modifiedon, -DATEPART(TZOFFSET, modifiedon AT TIME ZONE 'New Zealand Standard Time')) AS DATETIME)),'2018-01-01') AS last_modifiedon\nFROM [Dataverse].[dbo].[ww_operatorbottlinghourly];",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "wwsql003_ww_operatorbottlinghourly2",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			}
		],
		"annotations": []
	}
}