ADF_Pipeline/Ingestion/pipeline/ww_prebottlinganalysis - Copy - Copy (2).json
{
	"name": "ww_prebottlinganalysis",
	"properties": {
		"activities": [
			{
				"name": "Pre-Bottling Analysis",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Last modifiedon",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "CommonDataServiceForAppsSource",
						"query": {
							"value": "<fetch>\n  <entity name=\"ww_prebottlinganalysis\">\n    <all-attributes />\n    <filter type=\"and\">\n      <condition attribute=\"ww_tankerlookup\" operator=\"not-null\" />\n      <condition attribute=\"modifiedon\" operator=\"gt\" value=\"@{activity('Last modifiedon').output.firstRow.last_modifiedon}\" />\n    </filter>\n  </entity>\n</fetch>\n\n\n",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"ww_prebottlinganalysisid"
							]
						},
						"sqlWriterUseTableLock": true
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "crc5d_refractvalue",
									"type": "Decimal"
								},
								"sink": {
									"name": "crc5d_refractvalue",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "createdon",
									"type": "DateTime"
								},
								"sink": {
									"name": "createdon",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "modifiedon",
									"type": "DateTime"
								},
								"sink": {
									"name": "modifiedon",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "statuscode",
									"type": "Int32"
								},
								"sink": {
									"name": "statuscode",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_alc",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_alc",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_alcbydistil",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_alcbydistil",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_alcnum",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_alcnum",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_alcnumrackingvalve",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_alcnumrackingvalve",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_alcohol",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_alcohol",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_alcoholbydistillation",
									"type": "String"
								},
								"sink": {
									"name": "ww_alcoholbydistillation",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_basedo",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_basedo",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_co2",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_co2",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_customertankname",
									"type": "String"
								},
								"sink": {
									"name": "ww_customertankname",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_date",
									"type": "DateTime"
								},
								"sink": {
									"name": "ww_date",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ww_deleteline",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_deleteline",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_density",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_density",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_etxt",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_etxt",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_fi",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_fi",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_fiissueemailsent",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_fiissueemailsent",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_gatecode",
									"type": "String"
								},
								"sink": {
									"name": "ww_gatecode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_greentag",
									"type": "String"
								},
								"sink": {
									"name": "ww_greentag",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_includevolumeintotal",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_includevolumeintotal",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_initials",
									"type": "String"
								},
								"sink": {
									"name": "ww_initials",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_initialscheck",
									"type": "String"
								},
								"sink": {
									"name": "ww_initialscheck",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_location",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_location",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_lockcode",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_lockcode",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_lockid",
									"type": "Guid"
								},
								"sink": {
									"name": "ww_lockid",
									"type": "Guid"
								}
							},
							{
								"source": {
									"name": "ww_notes",
									"type": "String"
								},
								"sink": {
									"name": "ww_notes",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_operator",
									"type": "String"
								},
								"sink": {
									"name": "ww_operator",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_operatorcode",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_operatorcode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_ph",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_ph",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_prebottlinganalysisid",
									"type": "Guid"
								},
								"sink": {
									"name": "ww_prebottlinganalysisid",
									"type": "Guid"
								}
							},
							{
								"source": {
									"name": "ww_prebottlinganalysissummaryname",
									"type": "String"
								},
								"sink": {
									"name": "ww_prebottlinganalysissummaryname",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_productionline",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_productionline",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_reasonfordeletion",
									"type": "String"
								},
								"sink": {
									"name": "ww_reasonfordeletion",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_refract",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_refract",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_run",
									"type": "Guid"
								},
								"sink": {
									"name": "ww_run",
									"type": "Guid"
								}
							},
							{
								"source": {
									"name": "ww_sealid",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_sealid",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_sealnumber",
									"type": "String"
								},
								"sink": {
									"name": "ww_sealnumber",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_so2f",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_so2f",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_tankerlookup",
									"type": "Guid"
								},
								"sink": {
									"name": "ww_tankerlookup",
									"type": "Guid"
								}
							},
							{
								"source": {
									"name": "ww_tankvolume",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_tankvolume",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_temp",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_temp",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_tempcheck",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_tempcheck",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_temprackingvalve",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_temprackingvalve",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_ts02",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_ts02",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_ts02num",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_ts02num",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_tso2",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_tso2",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_volumecheck",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_volumecheck",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_volumeunder500",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_volumeunder500",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_winery",
									"type": "Guid"
								},
								"sink": {
									"name": "ww_winery",
									"type": "Guid"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "PreBottlingAnalysis",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "wwsql003_ww_prebottlinganalysis2",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Merge Statement",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Pre-Bottling Analysis",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_ww_prebottlinganalysis]"
				},
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP Fail Email",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Merge Statement",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
					"body": {
						"DataFactoryName": "@{pipeline().DataFactory}",
						"PipelineName": "@{pipeline().Pipeline}",
						"Subject": "An error has occurred!",
						"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
						"EmailTo": "WWSQL_Admins@wineworks.co.nz;lab.ml@wineworks.co.nz"
					}
				}
			},
			{
				"name": "Email on Failure BOM",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Pre-Bottling Analysis",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
					"body": {
						"DataFactoryName": "@{pipeline().DataFactory}",
						"PipelineName": "@{pipeline().Pipeline}",
						"Subject": "An error has occurred!",
						"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
						"EmailTo": "WWSQL_Admins@wineworks.co.nz;lab.ml@wineworks.co.nz"
					}
				}
			},
			{
				"name": "Last modifiedon",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT coalesce(MAX(CAST(SWITCHOFFSET(modifiedon, -DATEPART(TZOFFSET, modifiedon AT TIME ZONE 'New Zealand Standard Time')) AS DATETIME)),'2018-01-01') AS last_modifiedon\nFROM [Dataverse].[dbo].[ww_prebottlinganalysis];",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "wwsql003_ww_prebottlinganalysis2",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			}
		],
		"annotations": []
	}
}