ADF_Pipeline/Ingestion/pipeline/ww_prebottlinganalysisrecheck - Copy (8) - Copy.json
{
	"name": "ww_prebottlinganalysisrecheck",
	"properties": {
		"activities": [
			{
				"name": "Pre-Bottling Analysis Recheck",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Last modifiedon",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "CommonDataServiceForAppsSource",
						"query": {
							"value": "<fetch>\n  <entity name=\"ww_prebottlinganalysisrecheck\">\n    <all-attributes />\n    <filter>\n      <condition attribute=\"modifiedon\" operator=\"gt\" value=\"@{activity('Last modifiedon').output.firstRow.last_modifiedon}\" />\n    </filter>\n  </entity>\n</fetch>\n",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"ww_prebottlinganalysisrecheckid"
							]
						},
						"sqlWriterUseTableLock": true
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "crc5d_fiapprovedby",
									"type": "String"
								},
								"sink": {
									"name": "crc5d_fiapprovedby",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "crc5d_fichange",
									"type": "Int32"
								},
								"sink": {
									"name": "crc5d_fichange",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "crc5d_refract",
									"type": "Boolean"
								},
								"sink": {
									"name": "crc5d_refract",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "crc5d_refractvalue",
									"type": "Decimal"
								},
								"sink": {
									"name": "crc5d_refractvalue",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "createdon",
									"type": "DateTime"
								},
								"sink": {
									"name": "createdon",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "modifiedon",
									"type": "DateTime"
								},
								"sink": {
									"name": "modifiedon",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "statuscode",
									"type": "Int32"
								},
								"sink": {
									"name": "statuscode",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_alc",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_alc",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_alcnum",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_alcnum",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_alcoholbydistil",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_alcoholbydistil",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_basedo",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_basedo",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_co2",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_co2",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_customertankname",
									"type": "String"
								},
								"sink": {
									"name": "ww_customertankname",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_date",
									"type": "DateTime"
								},
								"sink": {
									"name": "ww_date",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ww_deleteline",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_deleteline",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_density",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_density",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_distill",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_distill",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_distillnum",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_distillnum",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_etxt",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_etxt",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_extraanalysis",
									"type": "String"
								},
								"sink": {
									"name": "ww_extraanalysis",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_fi",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_fi",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_fiissueemailsent",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_fiissueemailsent",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_fso2",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_fso2",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_greentag",
									"type": "String"
								},
								"sink": {
									"name": "ww_greentag",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_initials",
									"type": "String"
								},
								"sink": {
									"name": "ww_initials",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_notes",
									"type": "String"
								},
								"sink": {
									"name": "ww_notes",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_operator",
									"type": "String"
								},
								"sink": {
									"name": "ww_operator",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_operatorcode",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_operatorcode",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_pbatankerlookup",
									"type": "Guid"
								},
								"sink": {
									"name": "ww_pbatankerlookup",
									"type": "Guid"
								}
							},
							{
								"source": {
									"name": "ww_ph",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_ph",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_prebottlinganalysisrecheckid",
									"type": "Guid"
								},
								"sink": {
									"name": "ww_prebottlinganalysisrecheckid",
									"type": "Guid"
								}
							},
							{
								"source": {
									"name": "ww_prebottlinganalysisrechecksummaryname",
									"type": "String"
								},
								"sink": {
									"name": "ww_prebottlinganalysisrechecksummaryname",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_productionline",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_productionline",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_reasonfordeletion",
									"type": "String"
								},
								"sink": {
									"name": "ww_reasonfordeletion",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_run",
									"type": "Guid"
								},
								"sink": {
									"name": "ww_run",
									"type": "Guid"
								}
							},
							{
								"source": {
									"name": "ww_tanker",
									"type": "String"
								},
								"sink": {
									"name": "ww_tanker",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_tankerlookup",
									"type": "Guid"
								},
								"sink": {
									"name": "ww_tankerlookup",
									"type": "Guid"
								}
							},
							{
								"source": {
									"name": "ww_tankerlookuptext",
									"type": "String"
								},
								"sink": {
									"name": "ww_tankerlookuptext",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_temp",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_temp",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_tempcheck",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_tempcheck",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_tso2",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_tso2",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_tso2mg",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_tso2mg",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_tso2num",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_tso2num",
									"type": "Decimal"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "PreBottlingAnalysisRecheck",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "wwsql003_ww_prebottlinganalysisrecheck1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Merge Statement",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Pre-Bottling Analysis Recheck",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "usp_ww_prebottlinganalysisrecheck"
				},
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP Fail Email",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Merge Statement",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
					"body": {
						"DataFactoryName": "@{pipeline().DataFactory}",
						"PipelineName": "@{pipeline().Pipeline}",
						"Subject": "An error has occurred!",
						"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
						"EmailTo": "wwsql_admins@wineworks.co.nz"
					}
				}
			},
			{
				"name": "Email on Failure BOM",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Pre-Bottling Analysis Recheck",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
					"body": {
						"DataFactoryName": "@{pipeline().DataFactory}",
						"PipelineName": "@{pipeline().Pipeline}",
						"Subject": "An error has occurred!",
						"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
						"EmailTo": "wwsql_admins@wineworks.co.nz"
					}
				}
			},
			{
				"name": "Last modifiedon",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT coalesce(MAX(CAST(SWITCHOFFSET(modifiedon, -DATEPART(TZOFFSET, modifiedon AT TIME ZONE 'New Zealand Standard Time')) AS DATETIME)),'2018-01-01') AS last_modifiedon\nFROM [Dataverse].[dbo].[ww_prebottlinganalysisrecheck];",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "wwsql003_ww_prebottlinganalysisrecheck1",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			}
		],
		"annotations": []
	}
}