ADF_Pipeline/Ingestion/pipeline/ww_palletstacking - Copy (6) - Copy.json
{
	"name": "ww_palletstacking",
	"properties": {
		"activities": [
			{
				"name": "Pallet Stacking",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Last modifiedon",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "CommonDataServiceForAppsSource",
						"query": {
							"value": "<fetch>\n  <entity name=\"ww_palletstacking\">\n    <all-attributes />\n    <filter>\n      <condition attribute=\"modifiedon\" operator=\"gt\" value=\"@{activity('Last modifiedon').output.firstRow.last_modifiedon}\" />\n    </filter>\n  </entity>\n</fetch>\n",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"ww_PalletStackingId"
							]
						},
						"sqlWriterUseTableLock": true
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "createdon",
									"type": "DateTime"
								},
								"sink": {
									"name": "createdon",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ww_deleteline",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_deleteline",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "modifiedon",
									"type": "DateTime"
								},
								"sink": {
									"name": "modifiedon",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "statuscode",
									"type": "Int32"
								},
								"sink": {
									"name": "statuscode",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_billofmaterials",
									"type": "Guid"
								},
								"sink": {
									"name": "ww_billofmaterials",
									"type": "Guid"
								}
							},
							{
								"source": {
									"name": "ww_cartoncount",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_cartoncount",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_lpn",
									"type": "String"
								},
								"sink": {
									"name": "ww_lpn",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_name",
									"type": "String"
								},
								"sink": {
									"name": "ww_name",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_operator",
									"type": "String"
								},
								"sink": {
									"name": "ww_operator",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_palletnumber",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_palletnumber",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_palletstackingid",
									"type": "Guid"
								},
								"sink": {
									"name": "ww_PalletStackingId",
									"type": "Guid"
								}
							},
							{
								"source": {
									"name": "ww_printedon",
									"type": "DateTime"
								},
								"sink": {
									"name": "ww_printedon",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ww_psimportsequencenumber",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_psimportsequencenumber",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_stackingpattern",
									"type": "String"
								},
								"sink": {
									"name": "ww_stackingpattern",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "PalletStacking",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "wwsql003_ww_palletstacking",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Merge Statement",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Pallet Stacking",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "usp_ww_palletstacking"
				},
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP Fail Email",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Merge Statement",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
					"body": {
						"DataFactoryName": "@{pipeline().DataFactory}",
						"PipelineName": "@{pipeline().Pipeline}",
						"Subject": "An error has occurred!",
						"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
						"EmailTo": "wwsql_admins@wineworks.co.nz"
					}
				}
			},
			{
				"name": "Email on Failure BOM",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Pallet Stacking",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
					"body": {
						"DataFactoryName": "@{pipeline().DataFactory}",
						"PipelineName": "@{pipeline().Pipeline}",
						"Subject": "An error has occurred!",
						"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
						"EmailTo": "wwsql_admins@wineworks.co.nz"
					}
				}
			},
			{
				"name": "Last modifiedon",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT coalesce(MAX(CAST(SWITCHOFFSET(modifiedon, -DATEPART(TZOFFSET, modifiedon AT TIME ZONE 'New Zealand Standard Time')) AS DATETIME)),'2018-01-01') AS last_modifiedon\nFROM [Dataverse].[dbo].[ww_palletstacking];",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "wwsql003_ww_palletstacking",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			}
		],
		"annotations": []
	}
}