ADF_Pipeline/Ingestion/pipeline/ww_supervisorsignoffbomhourlycheck - Copy (4) - Copy - Copy.json
{
	"name": "ww_supervisorsignoffbomhourlycheck",
	"properties": {
		"activities": [
			{
				"name": "Supervisor Signoff BOM Hourly Check",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Last modifiedon",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "CommonDataServiceForAppsSource",
						"query": {
							"value": "<fetch xmlns:generator=\"MarkMpn.SQL4CDS\">\n  <entity name=\"ww_supervisorsignoffbomhourlycheck\">\n    <all-attributes />\n    <filter type=\"and\">\n      \n      <condition attribute=\"ww_billofmaterials\" operator=\"not-null\" />\n     \n      <condition attribute=\"modifiedon\" operator=\"gt\" value=\"@{activity('Last modifiedon').output.firstRow.last_modifiedon}\" />\n    </filter>\n  </entity>\n</fetch>\n",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"ww_SupervisorSignoffBOMHourlyCheckId"
							]
						},
						"sqlWriterUseTableLock": true
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "createdon",
									"type": "DateTime"
								},
								"sink": {
									"name": "createdon",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "modifiedon",
									"type": "DateTime"
								},
								"sink": {
									"name": "modifiedon",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "statuscode",
									"type": "Int32"
								},
								"sink": {
									"name": "statuscode",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_allknivesbladesandscissorslabelled",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_Allknivesbladesandscissorslabelled",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_allrinserjetsworkingccp1100",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_AllrinserjetsworkingCCP1100",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_anybrokenglassinthemachines",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_Anybrokenglassinthemachines",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_billofmaterials",
									"type": "Guid"
								},
								"sink": {
									"name": "ww_BillofMaterials",
									"type": "Guid"
								}
							},
							{
								"source": {
									"name": "ww_bottlelasercode",
									"type": "String"
								},
								"sink": {
									"name": "ww_Bottlelasercode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_bottlesincartongluestriplabelsandprintco",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_BottlesincartonGluestripLabelsandPrintco",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_comments",
									"type": "String"
								},
								"sink": {
									"name": "ww_Comments",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_correctlabelheightandgaps",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_Correctlabelheightandgaps",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_deleteline",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_deleteline",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_depalbottlerecordfilledoutcorrectly",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_Depalbottlerecordfilledoutcorrectly",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_fillerrecordfilledoutcorrectly",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_Fillerrecordfilledoutcorrectly",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_foreignmatter",
									"type": "Decimal"
								},
								"sink": {
									"name": "ww_foreignmatter",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "ww_labelinkjetcode",
									"type": "String"
								},
								"sink": {
									"name": "ww_Labelinkjetcode",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_labellerrecordfilledoutcorrectly",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_Labellerrecordfilledoutcorrectly",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_operatorcode",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_OperatorCode",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_pallettypestackingpatternslipsheetandwrap",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_PallettypeStackingpatternSlipsheetandwrap",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_ppewornnoeatingdrinkingchewinggum",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_PPEwornnoeatingdrinkingchewinggum",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_productionline",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_Productionline",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_reasonfordeletion",
									"type": "String"
								},
								"sink": {
									"name": "ww_Reasonfordeletion",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_screwcapperclearanceccp2inspec2530mm",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_ScrewcapperclearanceCCP2inspec2530mm",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_supervisorsignoffbomhourlycheckid",
									"type": "Guid"
								},
								"sink": {
									"name": "ww_SupervisorSignoffBOMHourlyCheckId",
									"type": "Guid"
								}
							},
							{
								"source": {
									"name": "ww_supervisorsignoffhourlychecknae",
									"type": "String"
								},
								"sink": {
									"name": "ww_SupervisorSignoffHourlyCheckNae",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_timeofcheck",
									"type": "DateTime"
								},
								"sink": {
									"name": "ww_Timeofcheck",
									"type": "DateTime"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "SupervisorSignoffbomhourlycheck",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "wwsql003_ww_supervisorsignoffbomhourlycheck",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Merge Statement",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Supervisor Signoff BOM Hourly Check",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[usp_ww_supervisorsignoffbomhourlycheck]"
				},
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP Fail Email",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Merge Statement",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
					"body": {
						"DataFactoryName": "@{pipeline().DataFactory}",
						"PipelineName": "@{pipeline().Pipeline}",
						"Subject": "An error has occurred!",
						"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
						"EmailTo": "WWSQL_Admins@wineworks.co.nz"
					}
				}
			},
			{
				"name": "Email on Failure",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Supervisor Signoff BOM Hourly Check",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
					"body": {
						"DataFactoryName": "@{pipeline().DataFactory}",
						"PipelineName": "@{pipeline().Pipeline}",
						"Subject": "An error has occurred!",
						"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
						"EmailTo": "WWSQL_Admins@wineworks.co.nz"
					}
				}
			},
			{
				"name": "Last modifiedon",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT coalesce(MAX(CAST(SWITCHOFFSET(modifiedon, -DATEPART(TZOFFSET, modifiedon AT TIME ZONE 'New Zealand Standard Time')) AS DATETIME)),'2018-01-01') AS last_modifiedon\nFROM [Dataverse].[dbo].[ww_supervisorsignoffbomhourlycheck];",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "wwsql003_ww_supervisorsignoffbomhourlycheck",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			}
		],
		"annotations": []
	}
}