ADF_Pipeline/Ingestion/pipeline/ww_supervisorsignoffbom - Copy (2) - Copy.json
{
	"name": "ww_supervisorsignoffbom",
	"properties": {
		"activities": [
			{
				"name": "Supervisor Signoff BOM",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Last modifiedon",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "CommonDataServiceForAppsSource",
						"query": {
							"value": "<fetch>\n  <entity name=\"ww_supervisorsignoffbom\">\n    <all-attributes />\n    <filter>\n      <condition attribute=\"modifiedon\" operator=\"gt\" value=\"@{activity('Last modifiedon').output.firstRow.last_modifiedon}\" />\n    </filter>\n  </entity>\n</fetch>\n",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"ww_supervisorsignoffbomid"
							]
						},
						"sqlWriterUseTableLock": true
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "crc5d_checkbottlelasercodelegible",
									"type": "String"
								},
								"sink": {
									"name": "crc5d_checkbottlelasercodelegible",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "crc5d_correctppe",
									"type": "String"
								},
								"sink": {
									"name": "crc5d_correctppe",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "createdon",
									"type": "DateTime"
								},
								"sink": {
									"name": "createdon",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "modifiedon",
									"type": "DateTime"
								},
								"sink": {
									"name": "modifiedon",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "statuscode",
									"type": "Int32"
								},
								"sink": {
									"name": "statuscode",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_alldgremoved",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_alldgremoved",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_alldgremovedsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_alldgremovedsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_anycapbottlechanges",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_anycapbottlechanges",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_anycapbottlechangessig",
									"type": "String"
								},
								"sink": {
									"name": "ww_anycapbottlechangessig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_billofmaterials",
									"type": "Guid"
								},
								"sink": {
									"name": "ww_billofmaterials",
									"type": "Guid"
								}
							},
							{
								"source": {
									"name": "ww_bottleregisterchecked",
									"type": "String"
								},
								"sink": {
									"name": "ww_Bottleregisterchecked",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_cappercompressioncorrectsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_cappercompressioncorrectsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_cappercorrectchangepartssig",
									"type": "String"
								},
								"sink": {
									"name": "ww_cappercorrectchangepartssig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_cappercorrectdispenserclearancesig",
									"type": "String"
								},
								"sink": {
									"name": "ww_cappercorrectdispenserclearancesig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_cappercutcapssig",
									"type": "String"
								},
								"sink": {
									"name": "ww_cappercutcapssig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_cappergasflowinbottlemouthsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_cappergasflowinbottlemouthsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_cappergasflowmetersig",
									"type": "String"
								},
								"sink": {
									"name": "ww_cappergasflowmetersig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_capperknifebladecheck",
									"type": "String"
								},
								"sink": {
									"name": "ww_capperknifebladecheck",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_cappermissingcapdetectorsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_cappermissingcapdetectorsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_cappertankgassig",
									"type": "String"
								},
								"sink": {
									"name": "ww_cappertankgassig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_cappertopplateneckguidesig",
									"type": "String"
								},
								"sink": {
									"name": "ww_cappertopplateneckguidesig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_cappertuckchallengetestsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_cappertuckchallengetestsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_cappertuckthreadredrawsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_cappertuckthreadredrawsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_caselabellerscissorscheck",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_caselabellerscissorscheck",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_checkbottlelasercodelegibleandcorrect",
									"type": "String"
								},
								"sink": {
									"name": "ww_Checkbottlelasercodelegibleandcorrect",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_cleanskinstockcode",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_cleanskinstockcode",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_corkcorrectchangepartssig",
									"type": "String"
								},
								"sink": {
									"name": "ww_corkcorrectchangepartssig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_corkcorrectcorkingbellssig",
									"type": "String"
								},
								"sink": {
									"name": "ww_corkcorrectcorkingbellssig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_corkcorrectheightsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_corkcorrectheightsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_corkheadspacepressuresig",
									"type": "String"
								},
								"sink": {
									"name": "ww_corkheadspacepressuresig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_corktimingsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_corktimingsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_corkervacuumpulledinbottles",
									"type": "String"
								},
								"sink": {
									"name": "ww_Corkervacuumpulledinbottles",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_correctvalveforvelcorin",
									"type": "String"
								},
								"sink": {
									"name": "ww_correctvalveforvelcorin",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_depalbottleboardfilledoutsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_depalbottleboardfilledoutsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_depalsummarysheetcorrectsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_depalsummarysheetcorrectsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_dividersscissorscheck",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_dividersscissorscheck",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_fillercorrectchangepartssig",
									"type": "String"
								},
								"sink": {
									"name": "ww_fillercorrectchangepartssig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_fillercorrectheightsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_fillercorrectheightsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_fillerlowfilldetectorsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_fillerlowfilldetectorsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_filtrationcorrecttospecsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_filtrationcorrecttospecsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_filtrationcorrectvalvesopenclosedsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_filtrationcorrectvalvesopenclosedsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_isthisrunorganicvegan",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_IsthisrunOrganicVegan",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_knifebladecheck",
									"type": "String"
								},
								"sink": {
									"name": "ww_knifebladecheck",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_labelpreflightchecksheetcompletedsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_labelpreflightchecksheetcompletedsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_labellerscissorscheck",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_labellerscissorscheck",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_lasercodematchesrunnumber",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_lasercodematchesrunnumber",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_lux",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_lux",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_luxallcapstorqueddown",
									"type": "String"
								},
								"sink": {
									"name": "ww_luxallcapstorqueddown",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_luxcorrectchangepartssig",
									"type": "String"
								},
								"sink": {
									"name": "ww_luxcorrectchangepartssig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_luxcorrectcompression",
									"type": "String"
								},
								"sink": {
									"name": "ww_luxcorrectcompression",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_luxcorrectdispenserplateclearance",
									"type": "String"
								},
								"sink": {
									"name": "ww_luxcorrectdispenserplateclearance",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_luxcorrectheightsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_luxcorrectheightsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_luxcorrectscrewcappercompression",
									"type": "String"
								},
								"sink": {
									"name": "ww_luxcorrectscrewcappercompression",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_luxcorrectspringsincapperheads",
									"type": "String"
								},
								"sink": {
									"name": "ww_luxcorrectspringsincapperheads",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_luxtorquesettings",
									"type": "String"
								},
								"sink": {
									"name": "ww_luxtorquesettings",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_missinglabelsensorsonsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_missinglabelsensorsonsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_name",
									"type": "String"
								},
								"sink": {
									"name": "ww_name",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_notes",
									"type": "String"
								},
								"sink": {
									"name": "ww_notes",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_operatorcode",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_operatorcode",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_petcorrectspringsincappersig",
									"type": "String"
								},
								"sink": {
									"name": "ww_petcorrectspringsincappersig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_petlaserpowerturneddownsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_petlaserpowerturneddownsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_preflightchecksheetcompletedsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_preflightchecksheetcompletedsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_productionline",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_productionline",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_pumpflow",
									"type": "String"
								},
								"sink": {
									"name": "ww_pumpflow",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_rimdetection",
									"type": "String"
								},
								"sink": {
									"name": "ww_Rimdetection",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_rinsercorrectchangepartssig",
									"type": "String"
								},
								"sink": {
									"name": "ww_rinsercorrectchangepartssig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_rinsercorrectheightsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_rinsercorrectheightsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_rinserfullcoveragesig",
									"type": "String"
								},
								"sink": {
									"name": "ww_rinserfullcoveragesig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_rinsergassupplyccp1",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_RinserGasSupplyCCP1",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_rinserlowpressurecutoutsig",
									"type": "String"
								},
								"sink": {
									"name": "ww_rinserlowpressurecutoutsig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_screwcap",
									"type": "Boolean"
								},
								"sink": {
									"name": "ww_screwcap",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"name": "ww_startdate",
									"type": "DateTime"
								},
								"sink": {
									"name": "ww_startdate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "ww_sterilecabin",
									"type": "String"
								},
								"sink": {
									"name": "ww_SterileCabin",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_supervisorsignoffbomid",
									"type": "Guid"
								},
								"sink": {
									"name": "ww_supervisorsignoffbomid",
									"type": "Guid"
								}
							},
							{
								"source": {
									"name": "ww_typeofchange",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_Typeofchange",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ww_visibleglassonthelinesig",
									"type": "String"
								},
								"sink": {
									"name": "ww_visibleglassonthelinesig",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ww_volumedifference",
									"type": "Int32"
								},
								"sink": {
									"name": "ww_volumedifference",
									"type": "Int32"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "SupervisorSignoffBOM",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "wwsql003_ww_supervisorsignoffbom",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Merge Statement",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Supervisor Signoff BOM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[usp_ww_supervisorsignoffbom]"
				},
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP Fail Email",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Merge Statement",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
					"body": {
						"DataFactoryName": "@{pipeline().DataFactory}",
						"PipelineName": "@{pipeline().Pipeline}",
						"Subject": "An error has occurred!",
						"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
						"EmailTo": "WWSQL_Admins@wineworks.co.nz"
					}
				}
			},
			{
				"name": "Email on Failure",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Supervisor Signoff BOM",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
					"body": {
						"DataFactoryName": "@{pipeline().DataFactory}",
						"PipelineName": "@{pipeline().Pipeline}",
						"Subject": "An error has occurred!",
						"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
						"EmailTo": "WWSQL_Admins@wineworks.co.nz"
					}
				}
			},
			{
				"name": "Last modifiedon",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT coalesce(MAX(CAST(SWITCHOFFSET(modifiedon, -DATEPART(TZOFFSET, modifiedon AT TIME ZONE 'New Zealand Standard Time')) AS DATETIME)),'2018-01-01') AS last_modifiedon\nFROM [Dataverse].[dbo].[ww_supervisorsignoffbom];\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "wwsql003_ww_supervisorsignoffbom",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			}
		],
		"annotations": []
	}
}